---
Checks: >
  -*,
  performance-*,
  modernize-*,
  readability-*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle: google
ExtraArgs: [
  "-I${CMAKE_SOURCE_DIR}/extern/googletest/googletest/include",
  "-I${CMAKE_SOURCE_DIR}/extern/googletest/googlemock/include"
]
