---
Checks: >
  -*,
  performance-*,
  modernize-*,
  readability-*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle: google
